*{
    border: 0px;
    margin: 0px;
    text-align: center;
}

.heading{
    background-color: #081b31;;
    color: white;
    height: 4rem;
    line-height: 4rem;
}

.image{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.image:hover{
    cursor: pointer;
    background-color: #081b31;
}

.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    gap: 5rem;
    font-size: 2rem;
}

#user-score, 
#computer-score{
    font-size: 4rem;
}

.message{
    margin-top: 4rem;
}

#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}